In [21]:
import pandas as pd
import requests
import json
from pprint import pprint

In [3]:
ticker = "GOOGL"
url = f'https://www.quandl.com/api/v3/datasets/WIKI/{ticker}.json'

In [4]:
print(url)

https://www.quandl.com/api/v3/datasets/WIKI/GOOGL.json

In [6]:
resp = requests.get(url)

In [7]:
resp

In [8]:
type(resp)

requests.models.Response

In [12]:
ticker_data = resp.json()

In [13]:
type(ticker_data)

dict

In [43]:
#pprint(ticker_data)

In [45]:
#json.dumps(ticker_data, indent = 3)

In [32]:
tickerCol = ticker_data['dataset']["column_names"]

In [33]:
data = ticker_data['dataset']["data"]

In [40]:
ohlc_data_df = pd.DataFrame(data,columns = tickerCol)

In [35]:
ohlc_data_df

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2018-03-27,1063.90,1064.54,997.62,1006.940,2940957.0,0.0,1.0,1063.900000,1064.540000,997.620000,1006.940000,2940957.0
1,2018-03-26,1050.60,1059.27,1010.58,1054.090,3272409.0,0.0,1.0,1050.600000,1059.270000,1010.580000,1054.090000,3272409.0
2,2018-03-23,1051.37,1066.78,1024.87,1026.550,2413517.0,0.0,1.0,1051.370000,1066.780000,1024.870000,1026.550000,2413517.0
3,2018-03-22,1080.01,1083.92,1049.64,1053.150,3418154.0,0.0,1.0,1080.010000,1083.920000,1049.640000,1053.150000,3418154.0
4,2018-03-21,1092.57,1108.70,1087.21,1094.000,1990515.0,0.0,1.0,1092.570000,1108.700000,1087.210000,1094.000000,1990515.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3419,2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0
3420,2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
3421,2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
3422,2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
3423,2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0

In [41]:
ohlc_data_df.set_index('Date')

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-27,1063.90,1064.54,997.62,1006.940,2940957.0,0.0,1.0,1063.900000,1064.540000,997.620000,1006.940000,2940957.0
2018-03-26,1050.60,1059.27,1010.58,1054.090,3272409.0,0.0,1.0,1050.600000,1059.270000,1010.580000,1054.090000,3272409.0
2018-03-23,1051.37,1066.78,1024.87,1026.550,2413517.0,0.0,1.0,1051.370000,1066.780000,1024.870000,1026.550000,2413517.0
2018-03-22,1080.01,1083.92,1049.64,1053.150,3418154.0,0.0,1.0,1080.010000,1083.920000,1049.640000,1053.150000,3418154.0
2018-03-21,1092.57,1108.70,1087.21,1094.000,1990515.0,0.0,1.0,1092.570000,1108.700000,1087.210000,1094.000000,1990515.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0